@font-face {
  font-family: "Roman-Script";
  src: url("../fonts/Verajja-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roman-Script";
}

body {
  width: 100vw;
  padding: 10px;
  min-height: 100vh;
  font-size: 14px;
  line-height: 1.4;
}

/* Tipiṭaka Text Style */

p {
  font-size: 14px;
  margin-bottom: 14px;
}

.note {
  opacity: 0.5;
}

.bold,
.paranum {
  font-size: 13px;
  font-weight: bold;
}

.indent {
  text-indent: 25px;
  margin-left: 25px;
  font-style: italic;
}

.text {
  text-indent: 25px;
  word-break: break-word;
}

.hangnum {
  width: 45px;
  margin-top: 1px;
  font-size: 13px;
  text-indent: 0;
  text-align: right;
  position: absolute;
}

.centered {
  text-align: center;
}

.unindented {
  font-size: 14px;
}

.book {
  font-size: 21px;
  text-align: center;
  font-weight: bold;
}

.chapter {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.nikaya {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}

.title {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.subhead {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.subsubhead {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.gatha1 {
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 0;
}

.gatha2 {
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 0;
}

.gatha3 {
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 0;
}

.gathalast {
  font-size: 14px;
  margin-left: 50px;
  margin-bottom: 25px;
}
